<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">
<head>
<meta charset="utf-8"/>
<title>I love CY2003!</title>
 	<script type="text/javascript"
         src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!--Import materialize.css-->
	<!--
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
	-->
	<link type="text/css" rel = "stylesheet" href="{{ url_for('static', filename='tailwind.css') }}"/>

	<style>

	body{
		background-color: #2C3E50;
		line-height:  140%;
	}
	#main{
		padding: 2em;
		margin: 0 auto;
		width: 60%;
		background-color: #FAFAFA

	}
	button{
		font-size: 140%;
		border:  0.5em auto;
		padding: 0.25em;
		margin: 0.25em;
	}
	</style>

	<script>
		$(function postCoords(){
			console.log(
			$("#set_x_pos").attr(value),
			$("#set_y_pos").attr(value),
			$("#set_z_pos").attr(value))
		})

		internal_state = {
			"move_unit": "0.1",
			"move_axis": "x",
			"move_direction":"+"
		}

		console.log(internal_state)

		$(function(){
		$('#get_pos').on('click', function(e) {
		e.preventDefault()
		console.log("GET POSITION")
		$.ajax({
			url:'/get_position',
			//data:{"test": "test"},
			method : 'POST',
			success: function(data){
				console.log("ASFSFDFDS")
				$("#x_pos").html(data['pos'][0])
				$("#y_pos").html(data['pos'][1])
				$("#z_pos").html(data['pos'][2])
			}
			})

		})
		})

		$(function(){
		$('#home').on('click', function(e) {
		e.preventDefault()

		$.ajax({
			url:'/move_home',
			//data:{"test": "test"},
			method : 'POST',
			success: function(data){
				console.log("homed")
				$("#x_pos").html(data['pos'][0])
				$("#y_pos").html(data['pos'][1])
				$("#z_pos").html(data['pos'][2])
			}
			})
		})

		})

		$(function(){

			$("#image").on('click', function(e){
			e.preventDefault()
			$.ajax({
				url:'/get_image',
				method : 'POST',
				success:function(data){
					console.log(data)
					document.getElementById("test_image").src = data["source"];
					document.getElementById("test_image").display = "block"
					document.getElementById("test_image").width = 640
					document.getElementById("test_image").height = 480

				}
			})

			})
		})
		$(function(){

			$("#count").on('click', function(e){
			e.preventDefault()
			$.ajax({
				url:'/capture_and_count',
				method : 'POST',
				success:function(data){

					console.log(data["count"])
					document.getElementById("test_image").src = data["source"];
					document.getElementById("test_image").display = "block"
					document.getElementById("count_show").textContent = data["count"]
					document.getElementById("test_image").width = 400
					document.getElementById("test_image").height = 400

				}
			})

			})
		})

		$(function(){
			$("#set_1").on('click', function(e){
				internal_state["move_unit"] = "0.1"
				$.ajax({
					url: '/set_units',
					method:'POST',
					data: {
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],

					},
					success:function(data){
					}
				})
			})

		})
		$(function(){
			$("#set_2").on('click', function(e){
				internal_state["move_unit"] = "1.0"
				$.ajax({
					url: '/set_units',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})

		$(function(){
			$("#set_3").on('click', function(e){
				internal_state["move_unit"] = "10"
				$.ajax({
					url: '/set_units',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})
		$(function(){
			$("#set_X").on('click', function(e){
				internal_state["move_axis"] = "x"
				$.ajax({
					url: '/set_axis',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})
		$(function(){
			$("#set_Y").on('click', function(e){
				internal_state["move_axis"] = "y"
				$.ajax({
					url: '/set_axis',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})
		$(function(){
			$("#set_Z").on('click', function(e){
				internal_state["move_axis"] = "z"
				$.ajax({
					url: '/set_axis',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})

		$(function(){
			$("#flip_direction").on('click', function(e){
				if(internal_state["move_direction"] == "+"){
					internal_state["move_direction"] = "-"
				}
				else{
					internal_state["move_direction"] = "+"	
				}

				$.ajax({
					url: '/set_direction',
					method:'POST',
					data:{
						'move_unit': internal_state['move_unit'],
						'move_axis': internal_state['move_axis'],
						'move_direction': internal_state['move_direction'],
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})
		$(function(){
			$("#autofocus").on('click', function(e){

				$.ajax({
					url: '/gradient',
					method:'POST',
					data:{
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})

		$(function(){
			$("#move_1").on('click', function(e){
				$.ajax({
					url: '/move_by',
					method:'POST',
					data:{
						'move_by': 1
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})

		$(function(){
			$("#move_2").on('click', function(e){
				$.ajax({
					url: '/move_by',
					method:'POST',
					data:{
						'move_by': 2
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})

		$(function(){
			$("#move_5").on('click', function(e){
				$.ajax({
					url: '/move_by',
					method:'POST',
					data:{
						'move_by': 5
					},
					success:function(data){
						console.log(data)
					}
				})
			})

		})


	</script>

</head>

<body class="min-h-screen bg-gray-100 font-sans">
	<div id = "main">
	<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-blueGray-800">Designing a Cell Counting microscope</h1>

	<h2 class="text-5xl font-normal leading-normal mt-0 mb-2 text-pink-800">Movement Control</h2>

	<img id = "test_image" width = 1 height = 1 display = "none" src = "">

	<br />
	<h2 class="text-5xl font-normal leading-normal mt-0 mb-2 text-pink-800">
	Counts:
	<span id ="count_show"></span>
	</h2>
	<br/>
	<button type = "button" id = "get_pos" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Get Current Position</button>
	<button type = "button" id = "home" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Home motor</button>
	<button type = "button" id = "image" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Send image</button>
	<button type = "button" id = "count" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Take picture and count</button>
	<button type = "button" id = "autofocus" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Attempt to autofocus</button>
	<br/>


	<button type = "button" id = "set_1" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set 0.1mm</button>
	<button type = "button" id = "set_2" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set 1.0mm</button>
	<button type = "button" id = "set_3" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set 10mm</button>

	<br />

	<button type = "button" id = "set_X" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set X</button>
	<button type = "button" id = "set_Y" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set Y</button>
	<button type = "button" id = "set_Z" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Set Z</button>

	<br />

	<button type = "button" id = "flip_direction" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Flip Direction</button>

	<br />

	<button type = "button" id = "move_1" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Move 1</button>
	<button type = "button" id = "move_2" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Move 2</button>
	<button type = "button" id = "move_5" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Move 5</button>


	<br />

	<br />
	<span class="text-5xl font-normal leading-normal mt-0 mb-2 text-pink-800">Current position:</span>
	<br />

	x: <span id = "x_pos"> </span>
	<br />
	y: <span id = "y_pos"> </span>
	<br />
	z: <span id = "z_pos"> </span>
	<br />
	<hr />

	<form>
		x: 
		<input type="text" id="set_x_pos" name="set_x_pos"><br />
		y:
		<input type="text" id="set_y_pos" name="set_y_pos"><br />
		z:
		<input type="text" id="set_z_pos" name="set_z_pos"><br />

		<input type="submit" value = "Move to position!" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onclick = "postCoords()">
	</form>
	<br />



	</div>
	
</body>
</html>



